body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: cadetblue;
}

h2 {
  color: white;
}

#answer {
  height: 5%;
  width: 200px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

#btn {
  color: white;
  margin: 10px;
  height: 35px;
  width: 120px;
  border-radius: 10px;
  background-color: rgb(33, 163, 130);
  border: none;
  box-shadow: 0 0 10px rgba(53, 51, 51, 0.7);
  transition: 0.3s ease;
}

#btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(44, 201, 162);
  box-shadow: 0 0 10px rgba(53, 51, 51, 1);
}

p {
  background-color: aquamarine;
  padding: 10px;
  border-radius: 10px;
}

#copyright {
  margin-top: 150px;
}
